@import "../settings/all";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-open-sans;
}

h1 {
  display: block;
  font-family: $font-raleway;
  font-size: 2.1875em;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-family: $font-raleway;
  font-size: 1.875em;
  font-weight: normal;
  text-align: center;

  @include tablet {
    font-size: 2em;
  }
}

a {
  display: block;
  color: $color-black;
  text-decoration: none;
}

.container {
  width: $width-desktop;
  margin: 0 auto;
  @include wide {
    width: 100%;
    padding: 0 15px;
  }
}

.logo {
  font-family: $font-raleway;
  font-size: 2em;
  font-weight: 300;
  color: $color-primary;
}